/* #c9cebd, #b2bcaa, #838e83, #6c6061, #64403e */

body {
    background-color: #C9CEBD;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

#title {
    padding: 20px;
}

.menu_option, #contact_us {
    padding: 5px 20px 20px 20px;
    margin: 10px;
}

img {
    height: auto;
}

#medium_pizza {
    background-color: #64403E;
}

#medium_pizza img {
    width: 15vw;
}

#large_pizza {
    background-color: #6C6061;
}

#large_pizza img {
    width: 20vw;
}

#small_pizza {
    background-color: #838E83;
}

#small_pizza img {
    width: 10vw;
}

#contact_us {
    background-color: #B2BCAA;
}

@media (max-width: 800px) {
    #large_pizza {
        background-color: pink;
    }
}